/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{font-family:arial;font-size:14px;line-height:18px;color:#333;background:#A8A8A8;}
.template{width:960px;margin:0 auto;}
.clear{overflow:hidden;}
.headsec {
    height: 83px;
    background: #3F3F3F;
}
.headerleft {
    width: 547px;
    font-size: 17px;
    line-height: 20px;
    float: left;
}
.headerleft h2 {
    margin-left: 50px;
    margin-top: 28px;
    color: #EB7238;
    font-style: thin italic;
}
.mainmenu {
    width: 399px;
    float: right;
    margin-top: 27px;
    /* margin-right: -51px; */
    color: #;
    color: #F27D40;
}
.mainmenu a {
    text-decoration: none;
    color: #fff;
    /* margin-top: 36px; */
    font-weight: bold;
}
.mainmenu a:hover,#active{color:#E26827;}
.mainsec{background:#fff;}
.description {
    margin: 27px 50px;
    border: 2px dotted #;
    /* border: 2px dotted #DEDEDE; */
    border-bottom: 2px dotted #DEDEDE;
}
.description h2 {
    font-size: 39px;
    /* line-height: 9px; */
    color: #333;
}
.description h3 {
    font-size: 27px;
    /* margin: 5px; */
    /* margin-top: 0px; */
    color: #BDBDC0;
}
.sectop {
    margin: 25px 50px;
   border-bottom: 2px dotted #ccc;
    
}
.sectopcon{}
.sectopcon p {
    font-size: 24px;
    line-height: 28px;
    color: #888;
}
.sectopimage {
    height: 260px;
    background: #f2b393;
    background: -moz-linear-gradient(left, #f2b393 3%, #54a3ee 50%, #efcab8 51%, #f26722 100%);
    background: -webkit-linear-gradient(left, #f2b393 3%,#54a3ee 50%,#efcab8 51%,#f26722 100%);
    background: linear-gradient(to right, #f2b393 3%,#54a3ee 50%,#efcab8 51%,#f26722 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b393', endColorstr='#f26722',GradientType=1 );
    text-align: center;
    margin-bottom: 28px;
}

.imageleft h2 {
    font-size: 42px;
    color: #fff;
    border-bottom: 2px dotted #fff;
    padding-bottom: 26px;
    width: 600px;
    margin-left: 125px;
}
.imageleft p {
    font-size: 17px;
    line-height: 20px;
    /* padding-top: 0px; */
    /* margin-top: -3px; */
    color: #fff;
}

.imageright img{background:#ddd;}
.secbuttom {
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px dotted #A8A8A8;
}
.allpost {
    margin-left: -52px;
}
.services {
    background: #F37B3E;
    margin-left: 50px;
    /* margin-right: 50px; */
    float: left;
    width: 214px;
    padding: 20px;
    margin-top: 26px;
    box-shadow: 5px 0px 0px 0px #cfcfcf;
    margin-bottom: 35px;
    /* border-bottom: 2px dotted; */
}
.post{}

.post h2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    /* border-bottom: 2px dotted; */
    border-bottom: 2px dotted #fff;
    padding-bottom: 14px;
}
.post p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.postlink {
    text-align: center;
    border: 1px solid #A8A8A8;
    background: #fff;
    margin-top: 12px;
    padding: 8px;
}
.postlink a {
    text-decoration: none;
    /* margin-left: -24px; */
    /* padding: 48px; */
    font-size: 18px;
    color: #F37B3E;
}
.footersec{background:#fff;}
.footersec p {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 0px;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
